$breakpoint_mobile: 320px;
$breakpoint_mobilelarge: 375px;
$breakpoint_mobiletabs: 420px;
$breakpoint_verysmall: 544px;
$breakpoint_small: 768px; // without sidebar
$breakpoint_medium: 992px;
$breakpoint_large: 1200px;
$breakpoint_container: 1440px;
$breakpoint_verylarge: 1500px;
$breakpoint_ultralarge: 1900px;
