// TODO adjust color light/dark with own color

// Base colors



// Dark theme colors(Main)
$main-purple-dark-5: #5c00ad80;
$main-purple-dark: #5b00ab;
$medium-purple: #482f5f;
$input-color-dark: #8d5a92;
$bg-dark-purple: #16083e;
$input-bg-dark: #341c7e6a;
$input-bg-dark-2: #341c7e2d;
$input-bg-dark-8: #341c7ed1;
$metamask-yellow: #e8821e;

$chart-dark-green: #123B40;
$chart-dark-red: #442028;

$chart-light-green: #16C784;


$chart-green: #0ead98;
$chart-red: #db5541;


// Gradient 
$gradient-news-text: linear-gradient(
    90deg,
    rgb(110, 42, 144) 0%,
    rgba(220, 36, 48, 1) 100%
  );

  
