@import "./_colors.scss";
@import "./animation.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}
html {
  font-size: 62.5%; // Root font size 10px=1rem
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: linear-gradient(189deg, rgba(29,12,56,1) 0%, rgba(12,20,68,1) 53%, rgba(44,16,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d0c38",endColorstr="#2c1041",GradientType=1); 
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  margin: 0 0 0 8.5rem;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
input:focus {
    outline: none;
    overflow: hidden;  
    box-shadow: 0rem .5rem .5rem rgba(255, 250, 250, 0.156);
}

input {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: $input-color-dark;
  background: $input-bg-dark;
  text-overflow: ellipsis;
  white-space: nowrap;
}