$font-very-tiny: 0.8rem;
$font-tiny: 1rem;
$font-small-tiny: 1.2rem;
$font-very-small: 1.4rem;
$font-small: 1.6rem;
$font-medium: 1.8rem;
$font-almost-large: 2rem;
$font-large: 2.2rem;
$font-medium-large: 2.4rem;
$font-quite-large: 2.7rem;
$font-very-large: 3.2rem;
$font-extra-large: 3.9rem;

$font-weight-very-light: 300;
$font-weight-light: 400;
$bold-default: 600;
$extra-bold: 700;
$font-weight-boldest: 800;

$line-height-verysmall: 0.7;
$line-height-default: 1.42857em;
$line-height-small: 1.1;
$line-height-text: 1.7;
$line-height-text-small: 1.5;