/* encode-sans-semi-expanded-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; // Root font size 10px=1rem
  scroll-behavior: smooth;
  pointer-events: auto;
  margin: auto;
}

body {
  margin: 0;
  color: var(--color-text);
  overflow: auto;
  // first color
  // background: linear-gradient(189deg, rgba(29,12,56,1) 0%, rgba(12,20,68,1) 53%, rgba(44,16,65,1) 100%);
  // background: rgb(138,0,255);

  background: #000000;  /* fallback for old browsers */
  background: var(--bg-main);
  line-height: 2.1rem;
  // font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //   Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include customHorizontalScrollbar($height: 0.1rem,  $border-radius: 0.5rem);

}

body *{
  font-family:  "Encode Sans Semi Expanded", sans-serif;
  font-size: $font-medium;
  line-height: $line-height-default;
}

main{
  margin: 0;
  overflow: clip;
  @media (min-width: $breakpoint_small){
    margin: 1rem;
    margin: 0 0 0 8.5rem;
  }
  min-height: 45rem;
  
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
input:focus {
    outline: none;
    overflow: hidden;  
    box-shadow: 0rem .5rem .5rem rgba(255, 250, 250, 0.156);
}

input {
  font-size: 2rem;
  padding: 0 1rem;
  color: $input-color-dark;
  background: $input-bg-dark;
  border-radius: $border-light;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li,ul{
  list-style: none;
}

h1 {
  font-size: $font-medium;
  line-height: $line-height-default;
}

:root {
  // Base colors;
  --white: #ffffff;
  --black: #000000;
  --black-2:#00000033;
  --white-2: #ffffff33;
  --white-3: #ffffff4d;
  --white-4: #ffffff66;
  --white-5: #ffffff80;

  --dark-gray-4: #0100036a;

  --space-grey-2: #655d5d33;
  --space-grey-5: #665e5e80;
  --space-grey-8: #665e5ecc;
  --light-grey: #d3d3d3;
  
  --night-blue: #05173781; //$dark-blue

 // Main colors::after
--brand-purple: #8a00ff;
--brand-purple-light: #b971f8;
--brand-purple-lighter: #cea1f9;
--brand-purple-lightest: #e1caf769;

--brand-purple-dark: #5b00ab;
--brand-purple-dark-light: #482f5f;
--brand-purple-dark-5: #5c00ad80;

//Background colors
--bg-grey:#b5b2b2;
--bg-grey-5: #d7d7d780;
--bg-dark-purple: #16083e;
--bg-input-purple: #8d5a92;
--bg-input-dark: #341c7e6a;
--bg-input-dark-2: #341c7e2d;
--bg-input-dark-3: #341c7d4c;
--bg-input-dark-8: #341c7ed1;


// Effects
--metamask-yellow: #e8821e;
--chart-dark-green: #123B40;
--chart-dark-red: #442028;
--chart-light-green: #16C784;
--chart-green: #0ead98;
--chart-red:#db5541;

// Gradient Effects
--long-short-red-light: linear-gradient(to right, #9b282851, #d33131a9 90%, #d32f2f);
--long-short-red-dark: linear-gradient(to right, #ff000000, #d32f2f80 90%, #d32f2f80);

--long-short-green-light: linear-gradient(to left, #449c6751, #27c164a1 50%, #38c771);
--long-short-green-dark: linear-gradient(to left, #449c671d, #5dc7878c 50%, #5dc787);

 // Background Effects
   --main-bg: linear-gradient(to right, rgb(0, 0, 0), #1d032a 30%, #000000 70%, #1d032a 95%);
   --aside-bg: var(--night-blue);

// shadow effect
--zth-light-shadow: #ffffff2f;
--zth-light-shadow-dark: #5c5c5cb3;
}
html[data-zth-color-scheme="dark"]{
  --zth-text: var(--white);
  --zth-hover: var(--brand-purple-dark);
  --zth-border: var(--brand-purple-dark-light);
  --zth-box-shadow: var(--zth-light-shadow);
  --zth-long-short-red: var(--long-short-red-dark);
  --zth-long-short-green: var(--long-short-green-dark);
  --zth-icon: var(--brand-purple);


  --bg-color-dark-purple: var(--bg-input-dark);
  --bg-color-dark-soft-purple: var(--bg-input-dark-8);
  --bg-color-dark: var(--bg-dark-purple);
  --bg-main: var(--main-bg);
  --bg-aside: var(--aside-bg);
}

html[data-zth-color-scheme="light"]{
  --zth-text: var(--black);
  --zth-hover: var(--brand-purple-lighter);
  --zth-border: var(--brand-purple-dark);
  --zth-box-shadow: var(--zth-light-shadow-dark);
  --zth-long-short-red: var(--long-short-red-light);
  --zth-long-short-green: var(--long-short-green-light);
  --zth-icon: var(--black);


  --bg-color-dark-purple: var(--bg-input-dark-3);
  --bg-color-dark-soft-purple: var(--bg-input-dark-2);
  --bg-color-dark: var(--white);
  --bg-main: var(--white);
  --bg-aside: var(--white);




}