/* encode-sans-semi-expanded-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Encode Sans Semi Expanded';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/encode-sans-semi-expanded-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; // Root font size 10px=1rem
  scroll-behavior: smooth;
  pointer-events: auto;
  margin: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: linear-gradient(189deg, rgba(29,12,56,1) 0%, rgba(12,20,68,1) 53%, rgba(44,16,65,1) 100%);
  transition: color 0.5s, background-color 0.5s;
  line-height: 2.1rem;
  // font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //   Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include customHorizontalScrollbar($height: 0.1rem,  $border-radius: 0.5rem);

}

body *{
  font-family:  "Encode Sans Semi Expanded", sans-serif;
}

main{
  margin: 0;
  overflow: clip;
  @media (min-width: $breakpoint_small){
    margin: 1rem;
    margin: 0 0 0 8.5rem;
  }
  min-height: 45rem;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
input:focus {
    outline: none;
    overflow: hidden;  
    box-shadow: 0rem .5rem .5rem rgba(255, 250, 250, 0.156);
}

input {
  font-size: 2rem;
  padding: 0 1rem;
  color: $input-color-dark;
  background: $input-bg-dark;
  border-radius: $border-light;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li,ul{
  list-style: none;
}